.main_contact {
    width: 1000px;
    margin: 0 auto;
    font-size: 20px;

}

.form_contact {
    margin: 40px 0;
 }

.entry_label {
    display: block;
    margin: 8px auto;
    width: 50%;
}

.entry, .form_contact textarea {
    display: block;
    margin: 0 auto 25px;
    padding: 4px 9px;
    font-size: 18px;
    width: 50%;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
}

#checkbox, .div_entry {
    margin: 30px auto;
}